body {
    background-image: url("bgs/night-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #6d84c8;
    overflow: hidden;
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;
    width: 100%
}

.header {
    width: clamp(350px, 90vw, 1500px);
    height: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    object-fit: contain;
}

.mp4-btn {
    width: clamp(70px, 25vw, 500px);
    height: auto;
}

.trad-btn {
    width: clamp(70px, 30vw, 500px);
    height: auto;
}

.sketch-btn {
    width: clamp(70px, 20vw, 300px);
    height: auto;
}