body {
    background-image: url("bgs/sky-bg.png");
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-size: 5vw;
    color: white;
}

* {
    box-sizing: border-box;
}

.works-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.2rem;
    object-fit: contain;
}

.hallway {
    width: clamp(15vw, 20vw, 200px);
    height: auto;
}

.foyer {
    width: clamp(15vw, 20vw, 200px);
    height: auto;
}

.quarantine {
    width: clamp(100px, 30vw, 500px);
    height: clamp(42px, 13vw, 200px);
}

.heart {
    width: clamp(70px, 22vw, 250px);
    height: auto;
}

.shoes {
    width: clamp(90px, 30vw, 300px);
    height: auto;
}

.bedroom {
    width: clamp(90px, 23vw, 270px);
    height: auto;
}

.spaceship {
    width: clamp(15vw, 20vw, 50vw);
    height: auto;
}

.monke {
    width: clamp(15vw, 20vw, 50vw);
    height: auto;
}